/* Main app styles */

.App {
  text-align: center;
  background-size: cover;
  color: #ffffff; /* White text color */
  font-family: 'Roboto', sans-serif;
  background-color: #000000 ;
  height: 100vh;
  cursor: url('./pen.png'), auto;

}


/* Input latex styles */
.Input-latex {
  display: contents;
  align-items: center;
}

/* Blackboard styles */
.blackboard {
  background-color: #4F46BB ;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff; /* White text color */
  font-size: 20px;
  font-family: "Chalkboard", "Comic Sans MS", cursive;
  margin-top: 8px;
  border-radius:  20px; 
  border-radius: 9px;
  margin-left: 12px;
  width: 94vw;
  
}

/* Button styles */
.button {
  background-color: #6b4d59; /* Brownish color */
  color: #000000; /* Black text color */
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}

/* Convert button styles */
.Convert-Btn {
  border: none;
  font-family: 'Poppins', sans-serif;
  outline: none;
  background: #B3B3B3





  ; /* Orange color */
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  height: 4vh;
  width: 13ch;
  color: #000000; /* Black text color */
  padding: 1px;
  transition: background-color 0.3s, transform 0.2s;
}

.Convert-Btn:hover {
  background-color: #ff9000; /* Brighter orange color */
  transform: scale(1.05);
}

/* Additional styles can be added here */


.math-field {
  height: 4vh;
}

.HomePageButtons {
  margin-top: 36vh;

}

.KeyboardButton {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #4F46BB  ;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.KeyboardButton:hover {
  background-color: #1A5276;
}

.send-btn {
  border: none;
  font-family: 'Poppins', sans-serif;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  height: 4vh;
  /* width: 37ch; */
  left: 66vw;
  top: 41vh;
  float: right;
  left: 31px;


}

/* Your CSS file, e.g., styles.css */

/* Styling for the button with className "send-res-value" */
.send-res-value {
  /* Add your desired styles here */
  background-color: #007bff; /* Change to your preferred background color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  border: none; /* Remove the border if desired */
  cursor: pointer; /* Add a pointer cursor on hover */
}

/* Optional: Hover effect */
.send-res-value:hover {
  background-color: #0056b3; /* Change to a darker color on hover if desired */
}


.latex-header {
 
}
/* Style the dropdown */
/* Style the dropdown */
/* Style the dropdown */
/* Style the dropdown */


.dropdown {
  position: relative;
  display: inline-block;
}

/* Style the dropdown button */
.dropbtn {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* Style the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 20px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  margin-left: -9px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
}

/* Show the dropdown content with animation */
.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* Style the dropdown buttons */
.dropdown-content button {
  background-color: white;
  cursor: pointer;
  text-align: left;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s, transform 0.3s;
}

/* Animate the dropdown buttons */
.dropdown:hover .dropdown-content button {
  opacity: 1;
  transform: translateY(0);
}

/* Highlight the button when hovering over */
.dropdown-content button:hover {
  background-color: #f1f1f1;
}

@keyframes shine {
  0% {
    transform: translateX(-100%); 
  }
  100% {
    transform: translateX(30%); 
    transform: translateY(60%);
  }
}
/* Add styles for the disabled editor */
.disabled {
  background-color: #f0f0f0; /* Change the background color */
  opacity: 0.5; /* Reduce opacity to indicate it's disabled */
  pointer-events: none; /* Disable pointer events to prevent interaction */
  /* Add any other styles you want for the disabled editor */
}

.HomeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4F46BB ; 
  color: white;
  padding: 2px 4px;
  position: absolute;
  cursor: url('./pen.png'), auto;
  transform-style: preserve-3d;
  perspective: 800px;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Plus Jakarta sans-serif;
  border-radius: 8px;
  margin-top: 1vh;
}

.HomeButton h2 {
  margin: 0;
  transform: rotateY(0deg) translateZ(0);
}

.HomeButton:hover h2 {
  transform: rotateY(360deg) translateZ(30px); /* Rotate and move forward on hover */
}

.response-container {
  width: 100%;
  max-height: 32vh; 
  overflow-y: auto; 
  overflow-x: auto; 
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  /* Define your other styles here */
  background-color: #ffffff; /* Example background color */
  padding: 10px; /* Example padding */
  border: 1px solid #ffffff; /* Example border */
  border-radius: 5px;

  font-size: medium;
  position: relative;
  color: #000000;
  scrollbar-width: thin; /* "auto" or "thin" for Firefox compatibility */
  scrollbar-color: #333 #ffffff; /* scrollbar track and thumb colors */

  /* Increase the size of the scrollbar thumb */
  &::-webkit-scrollbar-thumb {
    background-color: #333; /* Scrollbar thumb color */
    border-radius: 10px; /* Rounded corners for the thumb */
  }
  
  /* Increase the size of the scrollbar track (optional) */
  &::-webkit-scrollbar-track {
    background-color: #ffffff; /* Scrollbar track color */
    border-radius: 10px; /* Rounded corners for the track */
  }
}

.response-item {
  background-color: #f2f2f2; /* Light gray background color */
  text-align: center;
  font-size: 13 px;
  color: #333;
  border-radius: 10px; /* Slightly rounded corners for a stylish look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  font-weight: 400; /* Lighter font weight */
  padding: 10px; /* Increased padding for a spacious look */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

/* Hover effect for larger screens */
.response-item:hover {
  background-color: #e0e0e0; /* Slightly darker background color on hover */
}

.input-container {
  display: flex;
  align-items: center; /* Center items vertically */
  position: relative;
  top: 10vh;
}

.input-container input {
  flex: 1; /* Allow the input field to expand and take available space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container button {
  padding: 10px 20px;
  background-color: #4F46BB;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px; /* Add some spacing between the input and the button */
}


.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white; /* Semi-transparent white background */
  z-index: 1000; /* Ensure it appears above other content */
}

.loading-text {
  margin-top: 10px; /* Adjust as needed to position the text below the loading animation */
  font-size: 18px; /* Adjust the font size as needed */
  color: #333; /* Text color */
}

.loading-animation {
  /* Style for the loading animation image or spinner */
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  /* Add animation styles here if applicable */
}



.ConvertedLatex {
  background-color: #9B9C9E;
  width: 94vw;
  margin-left: 12px;
  flex: 1;
  border: none;
  outline: none;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-top: 1vh;
  border-radius: 8px;
}

.logo-img {

}

.Latex-field {

  align-items: center;
  justify-content: center;
  background: #4F46BB;
  color: white;
  /* position: absolute; */
  cursor: pointer;
  /* perspective: 800px; */
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Plus Jakarta sans-serif;
}

@media screen and (max-width: 768px) {
  /* Main app styles */
  .App {

    width: 100%;
    height: 100vh
  }

  /* Input latex styles */
  .Input-latex {
    /* Adjust styles as needed for smaller screens */
  }

  /* Blackboard styles */
  .blackboard {
    /* Adjust styles as needed for smaller screens */
  }

  /* Button styles */
  .button {
    /* Adjust styles as needed for smaller screens */
  }

  .button:hover {
    /* Adjust styles as needed for smaller screens */
  }

  /* Convert button styles */
  .Convert-Btn {
    /* Adjust styles as needed for smaller screens */
  }

  .Convert-Btn:hover {
    /* Adjust styles as needed for smaller screens */
  }

  /* Additional styles can be added here */

  .math-field {
    /* Adjust styles as needed for smaller screens */
  }

  .HomePageButtons {
    /* Adjust styles as needed for smaller screens */
  }

  .KeyboardButton {
    /* Adjust styles as needed for smaller screens */
  }

  .KeyboardButton:hover {
    /* Adjust styles as needed for smaller screens */
  }

  .send-btn {
    /* Adjust styles as needed for smaller screens */
    left: 6vh;
    top: 43vh;
    height: 4vh;
    position: relative;
    width: 12vh;
    background-color: transparent;
    float: right;
  }

  /* Your CSS file, e.g., styles.css */

  /* Styling for the button with className "send-res-value" */
  .send-res-value {
    /* Adjust styles as needed for smaller screens */
  }

  /* Optional: Hover effect */
  .send-res-value:hover {
    /* Adjust styles as needed for smaller screens */
  }

  .latex-header {
    /* Adjust styles as needed for smaller screens */
  }

  /* Style the dropdown */
  /* Style the dropdown */
  /* Style the dropdown */
  /* Style the dropdown */

  .dropdown {
    /* Adjust styles as needed for smaller screens */
       /* left: 1vh; */
       position: relative;
       background-color: transparent;
       right: 2vh;
  }

  /* Style the dropdown button */
  .dropbtn {
    /* Adjust styles as needed for smaller screens */
    font-size: 4vh;
    left: 1vh;
  }

  /* Style the dropdown content */
  .dropdown-content {
    /* Adjust styles as needed for smaller screens */
  }

  .dropdown:hover .dropdown-content {
    left: 1.5vh;
    position: relative;
    display: grid;
    transform: translateY(0);
    background-color: transparent;
    width: 100%;
  } 

  /* Style the dropdown buttons */
  .dropdown-content button {
    /* Adjust styles as needed for smaller screens */
  }

  /* Animate the dropdown buttons */
  .dropdown:hover .dropdown-content button {
    /* Adjust styles as needed for smaller screens */
  }

  /* Highlight the button when hovering over */
  .dropdown-content button:hover {
    /* Adjust styles as needed for smaller screens */
  }

  @keyframes shine {
    /* Adjust styles as needed for smaller screens */
  }

  .HomeButton {
    /* Adjust styles as needed for smaller screens */
  }

  .HomeButton h2 {
    /* Adjust styles as needed for smaller screens */
  }

  .HomeButton:hover h2 {
    /* Adjust styles as needed for smaller screens */
  }


 

  .input-container {
    position: relative;
    top: 8vh;
  }

  .input-container input {
    /* Adjust styles as needed for smaller screens */
  }

  .input-container button {
    /* Adjust styles as needed for smaller screens */
  }

  .loading-container {
    /* Adjust styles as needed for smaller screens */
  }

  .loading-text {
    /* Adjust styles as needed for smaller screens */
  }

  .loading-animation {
    /* Adjust styles as needed for smaller screens */
  }

  .ConvertedLatex {
    /* Adjust styles as needed for smaller screens */
  }

  .logo-img {
    /* Adjust styles as needed for smaller screens */
  }

  .Latex-field {
    /* Adjust styles as needed for smaller screens */
  }

  .response-container {
    /* Adjust styles for smaller screens */
    max-height: 44vh;
    top: 5vh;    
  }

  .response-item {
    /* Adjust styles for smaller screens */
    font-size: 13px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: none;
  }
  .cross-icon {

    width: 3vh;
    position: relative;
    float: right;
  }
  /* Add styles for the disabled editor */
.disabled {
  background-color: #f0f0f0; /* Change the background color */
  opacity: 0.5; /* Reduce opacity to indicate it's disabled */
  pointer-events: none; /* Disable pointer events to prevent interaction */
  /* Add any other styles you want for the disabled editor */
}

/* Define the custom pen cursor */
.pen-cursor {
  cursor: url('./pen.png'), auto;
  /* Replace 'path-to-your-pen-cursor.png' with the actual path to your pen cursor image */
}









}
